<h1>TwitTo!</h1>

<p>TwitTo! help you share pages with Twitter.</p>
<p>Just drag this <a href="javascript:(function(){TwitToPop=window.open(%22http://twitto.reality.hk:3000/go?url=%22+encodeURIComponent(location.href)+%22%26title=%22+((document.title)?encodeURIComponent(document.title.replace(/^\s*|\s*$/g,%27%27)):%22%22),%22TwitToPop%22,%22width=600,height=500,location,status,scrollbars,resizable,dependent=yes%22);setTimeout(%22TwitToPop.focus()%22,100);})()">
TwitTo!</a> bookmarklet to your toolbar or bookmarks bar.</p>
